page-home {
}
.page-home{
	text-align: center;
}
.Inicio{
	p{
		white-space: pre-wrap;
		text-align: justify;
	}
	ion-card{
		position: relative;
		text-align: center;
	}
	.card-title{
		position: absolute;
		top: 36%;
		font-size: 1.7em;
		width: 100%;
		font-weight: bold;
		color: #000;
	}
	.card-subtitle{
		position: absolute;
		top: 52%;
		font-size: 0.7em;
		width: 100%;
		color: #000;
	}

}