<ion-header>
  <ion-navbar color="beauty">
    <ion-title>Usuario</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="page-user" padding>
  <div padding>
    <ion-segment [(ngModel)]="Menu" color="beauty">
      <ion-segment-button value="Perfil">
        Perfil
      </ion-segment-button>
      <ion-segment-button value="Calendario">
        Calendario
      </ion-segment-button>
      <ion-segment-button value="Medicamentos">
        Medicamentos
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="Menu">
    <ion-label *ngSwitchCase="'General'" class="General">
    </ion-label>
    <ion-label *ngSwitchCase="'Perfil'">
      <h2 padding>Mi perfil</h2>
      <ion-list>
        <ion-card *ngFor="let item of Perfil | async">
          <div *ngIf="user(item)">
            <ng-template [ngIf]="true">
              <img src="../../assets/imgs/icon.png"/>
              <ion-grid>
                <ion-row>
                  <ion-col col-12 col-lg-6 col-md-6 col-sm-6>
                    <ion-item>
                      <ion-label text-wrap>Nombre: <ion-label class="text">{{item.names}} </ion-label></ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-lg-6 col-md-6 col-sm-6>
                    <ion-item>
                      <ion-label text-wrap>Apellidos: <ion-label class="text">{{item.fatherLastName}} {{item.motherLastName}} </ion-label></ion-label>
                    </ion-item> 
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-lg-6 col-md-6 col-sm-6>
                    <ion-item>
                      <ion-label> Edad: <ion-label class="text">{{item.age}} </ion-label></ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-lg-6 col-md-6 col-sm-6>
                    <ion-item>
                      <ion-label> Alergia: <ion-label class="text">{{item.alergy}} </ion-label></ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-lg-6 col-md-6 col-sm-6>
                    <ion-item>
                      <ion-label>Proxima cita: <ion-label class="text">{{item.nextMADate}}</ion-label></ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col col-12 col-lg-6 col-md-6 col-sm-6>
                    <ion-item>
                      <ion-label>
                        Detalles: <ion-label class="text" text-wrap>{{item.nextMADescription}}</ion-label>
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>
          </div>
        </ion-card>
      </ion-list>
    </ion-label>

    <ion-label *ngSwitchCase="'Calendario'">
      <ion-calendar #calendar lang="es"></ion-calendar>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-lg-4 col-md-4 col-sm-4>

          </ion-col>
          <ion-col col-12 col-lg-4 col-md-4 col-sm-4>
            <ion-label>Listado de historial de citas</ion-label>
            <div *ngFor="let item of descriptions">
                <ng-template [ngIf]="true">
                  <ion-list inset text-wrap>
                    <button ion-item>{{item}}</button>
                  </ion-list>
                </ng-template>
            </div>
          </ion-col>
          <ion-col col-12 col-lg-4 col-md-4 col-sm-4>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>


    <ion-label *ngSwitchCase="'Medicamentos'">
      <strong>Programar toma de medicamentos</strong>
      <ion-input type="number" min="1" max="100000" [(ngModel)]="num" placeholder="Escribe el tiempo en minutos de tu proxima toma"></ion-input>
      <button ion-button block (click)="delayednotification()" color="danger">Programar recordatorio</button>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-lg-4 col-md-4 col-sm-4>

          </ion-col>
          <ion-col col-12 col-lg-4 col-md-4 col-sm-4>
            <ion-label>Medicamentos a tomar (Horarios)</ion-label>
            <ion-list inset>
              <button ion-item></button>
            </ion-list>
          </ion-col>
          <ion-col col-12 col-lg-4 col-md-4 col-sm-4>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </div>
</ion-content>
